
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
   

</head>
<body>
    <h1>Flask-SocketIO Test</h1>

    <div id="log"></div>
<script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            // var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
       	var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.emit('connectStream',"hello server");
           
    	console.log("Starting connection");

    	socket.on('putStream',function(msg)

    	{

    		$('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
    	} );
    	

   		// socket.on('streamData',function(msg){

     //    $('#log').append('<p>Received: ' + msg + '</p>');

    	// console.log(""+msg);

     //    });

   		});
    </script>
</body>
</html>

