
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http:////cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            // var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
       var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

    console.log("Starting connection");

    socket.on('startStream',function(msg){
        $('#log').append('<p>Received: ' + msg.data + '</p>')});

    	console.log(msg.data);

        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>

    <div id="log"></div>
</body>
</html>

